body {
  background: #2d333b;
  font-family: Arial, sans-serif;
}

.names {
  position: relative;
  width: 100%;
  height: 100vh;
}

h1 {
  color: white;
}

.wrapper {
  height: 100vh;
}

.name {
  background: white;
  width: 15rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 6px 0 0 0;
}

canvas {
  width: -webkit-fill-available;
}

.box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dmi-kri-max {
  right: 4rem;
  bottom: 13rem;
  gap: 1rem;
}
.du-nas-al {
  right: 4rem;
  top: 5rem;
  gap: 1rem;
}

.ser-ig-ton {
  bottom: 3rem;
  left: 12rem;
  gap: 1rem;
}
.ser-ig-ton div:first-child {
  margin-left: 8rem;
}

.sta-lud-ga {
  gap: 1rem;
  left: 20rem;
  top: 19rem;
}

.sta-lud-ga div:first-child {
  position: relative;
  left: -8rem;
}

.alex {
  margin-top: 7.2rem;
}

.arrows {
  width: 100%;
  height: 100vh;
  margin-top: -3rem;
}
